{% extends "layout.html" %}

{% block title %}
    <h1>Control de Humedad</h1>
{% endblock title %}


{% block value1 %}
    {% for temp in temps %}
        <article class="media content-section">
          <div class="media-body">
            <center>
                <h2 class="article-title"> Temperatura Interior</h2>
                <input type="text" class="card-value" id="hum_r_1" value="76%"/>
            </center>
            <br>
          </div>
        </article>

    {% endfor %}

{% endblock value1%}

{% block value2 %}
    {% for temp in temps %}
        <article class="media content-section">
          <div class="media-body">
            <center>
                <h2 class="article-title">Temperatura Exterior</h2>
                <input type="text" class="card-value" id="hum_r_2" value="72%"/>
            </center>
            <br>
          </div>
        </article>

    {% endfor %}

{% endblock value2 %}

{% block value3 %}
        <article class="media content-section">
          <div class="media-body">

            <center>
                <h2 class="article-title">Humedad Interior</h2>
                <input type="text" class="card-value" id="hum_r_3" value="80%"/>
            </center>


          </div>
        </article>

{% endblock value3 %}

{% block value4 %}
    {% for temp in temps %}
        <article class="media content-section">
          <div class="media-body">

            <center>
                <h2 class="article-title">Humedad Exterior</h2>
                <input type="text" class="card-value" id="hum_r_4" value="75%"/>
            </center>
          </div>
        </article>

    {% endfor %}

{% endblock value4 %}

{% block control %}
    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <input type="text" class="input_c" id="input_value" required placeholder="Setpoint 1">
            <button class="btn btn-success btn-lg" id="send_button">send</button>
            <button class="btn btn-success btn-lg" id="on_button">ON/OFF</button>
          </div>

          <div class="col-md-6">
            <input type="text" class="input_c" id="input_value1" required placeholder="Setpoint 2">
            <button class="btn btn-success btn-lg" id="send_button1">send</button>
            <button class="btn btn-success btn-lg" id="on_button1">ON/OFF</button>
          </div>

          <hr>

          <div class="col-md-6">
            <input type="text" class="input_c" id="input_value2" required placeholder="Setpoint 3">
            <button class="btn btn-success btn-lg" id="send_button2">send</button>
            <button class="btn btn-success btn-lg" id="on_button2">ON/OFF</button>
          </div>

          <div class="col-md-6">
            <input type="text" class="input_c" id="input_value3" required placeholder="Setpoint 4">
            <button class="btn btn-success btn-lg" id="send_button3">send</button>
            <button class="btn btn-success btn-lg" id="on_button3">ON/OFF</button>
          </div>

      </div>

    <script>

    const init = function(){
        document.getElementById('send_button').addEventListener('click', send);
        document.getElementById('on_button').addEventListener('click', on_off);

    }

    const send = function(ev){
        ev.preventDefault();
        let msg = document.getElementById('input_value').value;
        message = new Paho.MQTT.Message(msg);
        message.destinationName = "cont";
        client.send(message)
        document.getElementById('form-user').reset();
    }

    const on_off = function(ev){
        ev.preventDefault();
        document.getElementById('hum_interior').value = '28';
        message = new Paho.MQTT.Message('1');
        message.destinationName = "cont";
        client.send(message)

    }


    document.addEventListener('DOMContentLoaded', init);
    </script>
{% endblock control %}
